<!DOCTYPE html> 
<html>
<head>
  	<title> Result </title>
</head>

	<body>
		<h2>Result</h2>
		<p>The result of <%= "#{@first.to_i} #{@operator} #{@second.to_i} is #{@result}" %></p>

		<h2>Next operation</h2> <!-- #PARA GUARDAR RESULTADO Y USARLO EN LA PROXIMA OPERACION // NO FUNCIONA-->
<!-- 
		<form action="/store_result" method="POST">
			<input type="hidden" name="number" value="value">
			<button type="submit">Next Operation</button> -->

		</form>


	</body>
</html>