<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  	<title>Blog</title>
</head>
	<body>

	  <h1>Posts</h1>

		<form action="/new_post" method="POST">
			<input type="text" name="title"> 

			<button type="submit">Create</button>
		</form>

	</body>
</html>