<h1>Projects</h1>
<ul>
	
	<% @projects.each do |project| %> <!-- no se pone el simbolo "=" xk no queremos mostrar nada -->

	<li>

		<% if (project.description)%>
		<%= project.name%> - <%= project.description%> 

		<%else%> 
		<%=project.name%>

		<%end%>

	</li>


	<% end %>

</ul>







