<h1>Welcome to this timetracking tool</h1>

<p> Ironhack powered</p>

<!-- <img src="/assets/dramatic-glasses.gif"
    alt="Kid removing his sunglasses epically"> -->

<!-- Another way -->

<%= image_tag "dramatic-glasses.gif" %>




<!-- Dos formas de escribirlo: -->

<%#= link_to #"Contact", '/contact_path' %>


<%#= link_to "Contact", contact_path %>

<%= link_to "Contact", contact_url %>